[submodule "BSD100"]
	path = BSD100
	url = https://huggingface.co/datasets/eugenesiow/BSD100
[submodule "Div2k"]
	path = Div2k
	url = https://huggingface.co/datasets/eugenesiow/Div2k
[submodule "Urban100"]
	path = Urban100
	url = https://huggingface.co/datasets/eugenesiow/Urban100
[submodule "Set5"]
	path = Set5
	url = https://huggingface.co/datasets/eugenesiow/Set5
[submodule "Set14"]
	path = Set14
	url = https://huggingface.co/datasets/eugenesiow/Set14
[submodule "PIRM"]
	path = PIRM
	url = https://huggingface.co/datasets/eugenesiow/PIRM
